document.getElementById("convertBtn").addEventListener("click", function() {

    const celsiusInput = document.getElementById("celsius");
    const resultDiv = document.getElementById("result");

    const celsius = parseFloat(celsiusInput.value);

    if (isNaN(celsius)) {
        resultDiv.textContent = "Please enter a valid number!";
        resultDiv.classList.add("show-result");
        return;
    }

    const fahrenheit = (celsius * 9/5) + 32;

    resultDiv.textContent = celsius + "°C = " + fahrenheit.toFixed(2) + "°F";

    resultDiv.classList.remove("show-result");
    void resultDiv.offsetWidth;   // restart animation
    resultDiv.classList.add("show-result");

});
